@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;800&display=swap');

$color-orange: #FBB13C;
$color-purple: #D264B6;
$color-pink: #FF499E;
$color-blue: #779BE7;
$color-cyan: #49B6FF;

html,
body {
  padding: 0;
  margin: 0;
  //font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero {
  background: $color-orange;
}

p {
  margin-bottom: 1rem;
}